<ul>
<h2 class="my-mini-heading">About</h2>
<article class="left-align">
  <div class="my-text-body">
      <p>Hello my name is Cole Campton. I was born and raised in Mill Valley, California. I graduated from Reed College with a B.A. in mathematics. While at Reed I wrote a thesis on the homological equivalence of discrete configure space models used in motion planning.</p>

<p>I am currently a graduate student at Duke Universitys Computer Science department.</p>

<p>I am interested in computer science, mathematics, rock climbing, coffee and lever espresso machines.</p>

<p>Feel free to contact me.  Let’s talk computer science and coffee.</p>
  
    </div>
</article>