---
layout: default
---
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<div id= "post-body">
<h2 class="my-mini-heading">{{ page.title }}</h2>
<article class="left-align">
  <!-- <h2 class="my-mini-heading">{{ page.title }}</h2> -->
  <div class="my-text-body">
    {{ content }}
  </div>
  <div class="center-align">
        <a class="waves-effect waves-teal btn-flat btn-large" onclick="show_projects();">{{ site.home_interests_btn }}</a>
  </div>
</div>
</article>
